#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(77, 77, 77);
  text-decoration-color: darkgrey;
}
body{
  background-color: rgb(40, 39, 39);
}

